@font-face {
  font-family: karla;
  src: url('../fonts/Karla/static/Karla-Regular.ttf');
}

@font-face {
  font-family: karla-light;
  src: url('../fonts/Karla/static/Karla-Light.ttf');
}

@font-face {
  font-family: karla-medium;
  src: url('../fonts/Karla/static/Karla-Medium.ttf');
}

@font-face {
  font-family: karla-semi;
  src: url('../fonts/Karla/static/Karla-SemiBold.ttf');
}

@font-face {
  font-family: karla-bold;
  src: url('../fonts/Karla/static/Karla-ExtraBold.ttf');
}

:root {
  --primary-variant: #aa96da;
  --primary: #866ebe;
  --secondary-variant: #a8d8ea;
  --secondary: #61a2b9;
  --tertiary-variant: #fcbad3;
  --tertiary: #d67fa1;
  --base-dark: #524c5c;
  --base-light: #dbcff7;
}

.section__title {
  width: 100%;
}


.projects {
  font-family: karla;
  /* padding-top: 10%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 100%;
  margin: 0;
  align-content: center;
}

.project {
  background-size: cover;
  margin: 1%;
  margin-top: 10px;
  box-shadow: var(--base-dark) 4px 6px 6px;
  flex-basis: 99%;
  height: 300px;
  object-fit: contain;
  font-family: karla;
  display: flex;
}

.project__content {
  margin: 0 10px 10px 20px;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.project__title {
  color: #fff;
  flex-basis: 100%;
  font-family: karla-bold;
  margin-bottom: 0;
}

.project__description {
  color: #ffffff;
  flex-basis: 80%;
  font-size: 14px;
}

.project__tools {
  display: flex;
  flex-basis: 100%;
  height: 10%;
  margin-top: 10px;
}

.project__tool {
  padding: 5px 20px;
  margin-right: 10px;
  color: white;
  font-size: 12px;
  border: #d8d8d8 1px solid;
  border-radius: 15px;
  font-family: karla-light;
}

.project__buttons {
  align-self: flex-end;
  flex-basis: 100%;
  margin-bottom: 8px;
}

.project__button {
  font-size: 14px;
  background-color: #fcfcfc5e;
  border: #e4e4e4 2px solid;
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
}

.project__button:hover {
  background-color: #c4c4c423;
}

@media (min-width: 700px) {
  .project {
    flex-basis: 45%;
    height: 400px;
  }

  .project__tools {
    height: 9%;
  }

  .project__tool {
    font-size: 16px;
  }

  .project__title {
    font-size: 24px;
  }

  .project__description {
    font-size: 16px;
  }

  .project__button {
    padding: 12px;
    font-size: 14px;
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .project {
    flex-basis: 31%;
    height: 500px;
  }

  .project__tools {
    height: 8%;
  }

  .project__tool {
    font-size: 18px;
  }

  .project__description {
    font-size: 18px;
  }

  .project__title {
    font-size: 28px;
  }

  .project__button {
    padding: 15px;
    font-size: 16px;
    margin-right: 20px;
  }
}
